<div class="center hero-unit">
  <h1> About Me</h1>
<div class="artwork">
<%= image_tag("Jshelto Cochran Map.jpg", alt: "Artwork")%>
</div>

  <small>Artwork by Joshua Shelto</small>


</div>
<%= link_to image_tag("Linked In.png", alt: "LinkedIn"), 'https://linkedin.com/pub/joshua-shelto/74/299/a32' %>
<%= link_to image_tag("twitter_50.png", alt: "Twitter"), 'https://twitter.com/JMShelto' %>
<%= link_to image_tag("github.png", alt: "GitHub"), 'https://github.com/JShelto' %>

