<div class="container">
  <div id="artwork">
    <%= image_tag("Jshelto Cochran Map.jpg", alt: "Artwork")%>
    <small>Artwork by Joshua Shelto</small>
  </div>

  <div id="bio">
    <%= image_tag("profile.jpg", alt: "Joshua Shelto", align: "left")%>
    <h3> A little about me</h3>
    <p> A Brooklyn native, I came a long way to learn about web development in San Francisco. My interest in the tech industry was born from a love of video games going back to my childhood. As I matured, however, a competing interest in our society and its laws saw me graduate with a degree in criminology from the University of Pennsylvania. Though proud of my accomplishments, I was still a gamer, and I still wanted to work with computers, so I pursued a Java course online. Wanting to take things a step further, I decided to attend one of the development bootcamps I had been hearing so much about. My first project at General Assembly was definitely a bridge between who I was and who I want to be. Utilizing the Rails framework, I merged crime data with Craigslist apartment listings, creating a tool to provide users with a safety rating for given San Francisco neighborhoods. I have enjoyed learning about web development and it’s exciting to watch my own progress as I tackle new projects and new techniques. I hope that as I grow as a developer I can continue working to improve people’s lives, if only in a different way than I had originally expected. 
    </p>
  </div>

</div>
