<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "joshua shelto", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "CraigsScoutSF", 'http://craigsscout-sf.herokuapp.com/', id: "project" %></li>
          <li> <%= link_to "Wigwm", 'http://wigwm.herokuapp.com/', id: "project" %></li>
          <li><%= link_to "CrunchMate", 'http://crunchmate.herokuapp.com/', id: "project" %></li>
         </ul>
      </nav>
    </div>
  </div>
</header>